body{
	overflow: hidden;
}

.mainContainer {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
	overflow: hidden;
    background-image: url("bg-005.gif");
}

.vertex {
    background-color: #FF0000; /* smashed! */
    border-radius: 5px 5px 5px 5px;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    height: 10px;
    line-height: 29px;
    opacity: 0.8;
    position: absolute;
    text-indent: 10px;
    transform: translate(-5px, -5px);
    width: 10px;
}

.triangle{
    background-color: rgba(0, 255, 255, 0.4);
    border-color: transparent transparent blue; /* smashed! */
    border-image: none;
    border-style: solid;
    border-width: medium 100px 100px;
    display: block;
    height: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 0;
    transform: rotate(0deg) translate(400px, 0px) skewX(0deg);
    transform-origin: 0 0 0;
    width: 0;
}